# Copyright (c) 2020-2021 Thys de Wet (vattern)
# SPDX-License-Identifier: MIT



config BOARD_HAKEA
	bool "nurgle"
	depends on SOC_NRF52840_QIAA

config BOARD_HAKEA_LEFT
	bool "nurgle"
	depends on SOC_NRF52840_QIAA

config BOARD_HAKEA_RIGHT
	bool "nurgle"
	depends on SOC_NRF52840_QIAA

config BOARD_HAKEA_DONGLE
	bool "nurgle"
	depends on SOC_NRF52840_QIAA
